

<div class="card bg-light">
    <div class="card-body text-left">
      <p>
        <strong>Operator:</strong>
        <%= @ticket.destination %>
      </p>
      <p>
        <strong>Destination:</strong>
        <%= @ticket.destination %>
      </p>

      <p>
        <strong>Departure:</strong>
        <%= @ticket.departure %>
      </p>

      <p>
        <strong>Arrival:</strong>
        <%= @ticket.arrival %>
      </p>

      <%= form_for @ticket, url: buy_ticket_path, method: :post  do |f| %>

        <% if user_signed_in? %>
          <strong>User email:</strong>
          <%= current_user.email %>
        <p>
          <strong>Full name:</strong>
          <%= current_user.full_name %>
        </p>
        <% end %>

        <div class="form-group">
          <%= f.label "Card number" %>
          <%= text_field_tag :card_number %>
        </div>

        <div class="form-group">
          <%= f.label "CVV" %>
          <%= text_field_tag :cvv %>
        </div>

        <%= hidden_field_tag :ticket_id, @ticket.id  %>


        <div class="form-group">
          <%= f.submit "Buy Ticket", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
